<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="INPUT_FOLDERS"          value="C:\;D:\"   />
    <add key="FILE_SEARCH_MASK"       value="*.txt"     />
    <add key="MAX_FILE_SIZE_IN_BYTES" value="536870912" />  <!-- (1024 * 1024 * 512); ~ 500MB -->
    <add key="SNIPPET_LENGTH"         value="25"        />  
  </appSettings>
</configuration>